$logo-width: 127px;
$background_image: url("../img/m-h-day.jpg") center/cover no-repeat;


$colors:(
    secondary-color: #1c1e2a,
    text-title-color: #282b39,
    highlight-color: #0ca1c8,
    body-color: rgba(259,259,259,0.75),
    header-color: #fff,
    button-color: #699a00,
    gradient-color: linear-gradient(to right, #649509,#285ad9),
    background-color: #fff
);
$main-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Hind', sans-serif;